* {
/* background-image: url("images/ab.png") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
/* background-color: #27cece; */
    padding:0;
    margin:0;
    outline:none;
    list-style: none;
}
#ab_heading{
    text-align: center;
    font-size: 4rem;
}
/* #ab_heading1{
    position: absolute;
    top: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
} */
body {
    background-color: #27cece;
    width: 100%; height: 100%;
    min-height: 100vh;
    font: normal 16px sans-serif;
}

#stuff {
    position: absolute;
    animation:oscillate 10s infinite alternate;
    -moz-animation:oscillate 10s infinite alternate; /* Firefox */
    -webkit-animation:oscillate 10s infinite alternate; /* Safari and Chrome */
    -o-animation:oscillate 10s infinite alternate; /* Opera */
}
@media(max-width: 600px) {
    #stuff {
        display:none;
    }
}

@keyframes oscillate
{
0%   {top:10%; left:10%;}
25%  {top:15%; left:30%;}
50%  {top:5%; left:20%;}
75%  {top:55%; left:60%;}
85%  {top:75%; left:40%;}
100% {top:10%; left:10%;}
}

@-moz-keyframes oscillate /* Firefox */
{
0%   {top:10%; left:10%;}
25%  {top:15%; left:30%;}
50%  {top:5%; left:20%;}
75%  {top:55%; left:60%;}
85%  {top:75%; left:40%;}
100% {top:10%; left:10%;}
}

@-webkit-keyframes oscillate /* Safari and Chrome */
{
0%   {top:10%; left:10%;}
25%  {top:15%; left:30%;}
50%  {top:5%; left:20%;}
75%  {top:55%; left:60%;}
85%  {top:75%; left:40%;}
100% {top:10%; left:10%;}
}

@-o-keyframes oscillate /* Opera */
{
0%   {top:10%; left:10%;}
25%  {top:15%; left:30%;}
50%  {top:5%; left:20%;}
75%  {top:55%; left:60%;}
85%  {top:75%; left:40%;}
100% {top:10%; left:10%;}
}


#angry {
    animation:angry 10s ease 2s infinite alternate;
    -moz-animation:angry 10s  ease 2s infinite alternate; /* Firefox */
    -webkit-animation:angry 10s  ease 2s infinite alternate; /* Safari and Chrome */
    -o-animation:angry 10s  ease 2s infinite alternate; /* Opera */
}

@keyframes angry
{
0%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50.01%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
100%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
}

@-moz-keyframes angry /* Firefox */
{
0%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50.01%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
100%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
}

@-webkit-keyframes angry /* Safari and Chrome */
{
0%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50.01%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
100%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
}

@-o-keyframes angry /* Opera */
{
0%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50%  {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
50.01%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
100%  {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform:matrix(1, 0, 0, 1, 0, 0);
}
}


.hair[name="left"]:before{
    position:absolute;
    content: "";
    width: 66px; height: 25px; 
    top: 38px; left: 220px;
    background: #000; 
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
    border-radius: 100px / 50px;
    transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    z-index: 2002;
}
.hair[name="left"]:after{
    position:absolute;
    content: "";
    width: 60px; height: 22px;
    top: 41px; left: 225px;
    z-index: 2002;
   background: #fd0053; 
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
}
.hair[name="right"]{
    position: absolute;
    background: #000;
}
.hair[name="right"]:before{
    position:absolute;
    content: "";
    background: #000; 
    top: 25px; left: 235px;
    width: 68px; height: 25px;
    border-radius: 150px / 75px;
    -moz-border-radius: 150px / 75px; 
    -webkit-border-radius: 150px / 75px; 
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 2003;
}
.hair[name="right"]:after{
    position:absolute;
    content: "";
    background: #fd0053; 
    top: 32px; left: 240px;
    width: 63px; height: 22px; 
    border-radius: 150px / 50px;
    -moz-border-radius: 150px / 50px; 
    -webkit-border-radius: 150px / 50px; 
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 2003;
}

#tail {
    position: absolute;
    width: 35px;
    height: 8px;
    background-color:#000;
    transform: perspective( 30px ) rotateY( 45deg ) rotate(10deg);
    -moz-transform: perspective( 30px ) rotateY( 45deg ) rotate(10deg);
    -webkit-transform: perspective( 30px ) rotateY( 45deg ) rotate(10deg);;
    top: 70px; left: -25px;
    box-shadow: 0px 2px 8px #000;
    z-index: 2000;
}

#tail:before, #tail:after{
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
}

#tail:before {
    width: 40px;
    height: 10px;
    background-color:#000;
    transform: perspective( 50px ) rotateY( 45deg )  rotate(10deg);
    -moz-transform: perspective( 50px ) rotateY( 45deg )  rotate(10deg);
    -webkit-transform: perspective( 50px ) rotateY( 45deg ) rotate(10deg);
    top: -10px; left: 6px;
    box-shadow: 0px 2px 8px #000;
}


#tail:after {
    width: 30px;
    height: 6px;
    background-color:#000;
    transform: perspective( 50px ) rotateY( 45deg )  rotate(-10deg);
    -moz-transform: perspective( 50px ) rotateY( 45deg )  rotate(-10deg);
    -webkit-transform: perspective( 50px ) rotateY( 45deg ) rotate(-10deg);
    top: 8px; left: 5px;
    box-shadow: 0px 2px 8px #000;
}

#angry {
    position: absolute;
   width:200px; 
   height:170px;
    background: #d40320;
background: -moz-linear-gradient(45deg,  #d40320 0%, #fd0053 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d40320), color-stop(100%,#fd0053));
background: -webkit-linear-gradient(45deg,  #d40320 0%,#fd0053 100%);
background: -o-linear-gradient(45deg,  #d40320 0%,#fd0053 100%);
background: -ms-linear-gradient(45deg,  #d40320 0%,#fd0053 100%);
background: linear-gradient(45deg,  #d40320 0%,#fd0053 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40320', endColorstr='#fd0053',GradientType=1 );


   -webkit-border-radius:100px 100px 80px 90px/
   100px 100px 80px 80px;
   -moz-border-radius:100px 100px 80px 90px/
   100px 100px 80px 80px;
   border-radius:90px 110px 80px 90px/
   100px 100px 80px 80px;
    z-index: 1000;
    margin: 50px 180px;
    border-style: solid;
    border-color: #000;
    border-width: 5px;
    box-shadow: 0px 2px 8px #000;
}

#angry ul {
    position: absolute;
}
#angry li:first-child {
    position: absolute;
    content: "";
    width: 0; height: 0;  
   border-top: 30px solid #f40046;
   border-left: 63px solid transparent; 
   border-right: 44px solid transparent; 
    top: 45px; left: 72px;
    z-index: 2001;
        animation:eyebrow 10s ease 5s infinite;
    -moz-animation:eyebrow 10s ease 5s infinite; /* Firefox */
    -webkit-animation:eyebrow 10s ease 5s infinite; /* Safari and Chrome */
    -o-animation:eyebrow 10s ease 5s infinite; /* Opera */
}
#angry li:first-child:before {
    position: absolute;
    content : "";
    width: 55px;
    height: 10px;
    background-color:#000;
    transform: perspective( 30px ) rotateY( 45deg ) rotate(15deg);
    -moz-transform: perspective( 30px ) rotateY( 45deg ) rotate(15deg);
    -webkit-transform: perspective( 30px ) rotateY( 45deg ) rotate(15deg);
    top: -11px; left: -35px;
    z-index: 2000;
}

#angry li:first-child:after {
    position: absolute;
    content : "";
    width: 48px;
    height: 10px;
    background-color:#000;
    transform: perspective( 30px ) rotateY( -45deg ) rotate(-15deg);
    -moz-transform: perspective( 30px ) rotateY( -45deg ) rotate(-15deg);
    -webkit-transform: perspective( 30px ) rotateY( -45deg ) rotate(-15deg);
    top: -11px; left: -10px;
    z-index: 2000;
}

@keyframes eyebrow
{
10%   {top: 48px; left: 72px;}
10.01%  {top: 45px; left: 72px;}
}

@-moz-keyframes eyebrow /* Firefox */
{
10%   {top: 48px; left: 72px;}
10.01%  {top: 45px; left: 72px;}
}

@-webkit-keyframes eyebrow /* Safari and Chrome */
{
10%   {top: 48px; left: 72px;}
10.01%  {top: 45px; left: 72px;}
}

@-o-keyframes eyebrow /* Opera */
{
10%   {top: 48px; left: 72px;}
10.01%  {top: 45px; left: 72px;}
}

#angry li:nth-child(2):before {
    position: absolute;
    content : "";
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius: 25px;
    top: 55px; left: 93px;
    z-index: 1900;
    border: 3px solid #000;
}

#angry li:nth-child(2):after {
    position: absolute;
    content : "";
    width: 35px;
    height: 35px;
    background-color:#fff;
    border-radius: 25px;
    top: 59px; left: 138px;
    z-index: 1900;
    border: 3px solid #000;
}

#angry li:nth-child(3) {
    position: relative;
    font-family: "Arial";
    font-size: 20px;
    color: #ccc;
    top: 60px; left: 140px;
    z-index:2001;
    letter-spacing: 5px;
}

#angry li:nth-child(3):before {
    position: absolute;
    content : "";
    width: 6px;
    height: 6px;
    background-color:#000;
    border-radius: 10px;
    top: 12px; left: 0px;
    z-index: 1900;
    border: 3px solid #000;
    z-index: -1;
}
#angry li:nth-child(3):after {
    position: absolute;
    content : "";
    width: 4px;
    height: 4px;
    background-color:#000;
    border-radius: 10px;
    top: 12px; left: 22px;
    z-index: 1900;
    border: 3px solid #000;
    z-index: -1;
}


#angry li:nth-child(4) {
    position: absolute;
    width: 45px;
    height: 20px;
    background-color: #000; /**#e20034;**/
    top: 90px;
    left: 93px;
    z-index: 3000;
    border-radius: 50px / 20px;
    -moz-border-radius: 50px / 20px;
    -webkit-border-radius: 50px / 20px;
}
#angry li:nth-child(4):after {
    position: absolute;
    content: "";
    width: 53px;
    height: 20px;
    background-color: #e20034;
    top: 3px;
    left: -5px;
    z-index: 3001;
    border-radius: 50px / 20px;
    -moz-border-radius: 50px / 20px;
    -webkit-border-radius: 50px / 20px;
}

#angry li:nth-child(5) {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #000; /**#e20034;**/
    top: 89px;
    left: 145px;
    z-index: 3000;
    border-radius: 50px / 20px;
    -moz-border-radius: 50px / 20px;
    -webkit-border-radius: 50px / 20px;
}
#angry li:nth-child(5):after {
    position: absolute;
    content: "";
    width: 55px;
    height: 20px;
    background-color: #ed0038;
    top: 3px;
    left: -5px;
    z-index: 3001;
    border-radius: 50px / 20px;
    -moz-border-radius: 50px / 20px;
    -webkit-border-radius: 50px / 20px;
    transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}
#angry li:nth-child(6) {
    position: absolute;
    background-color: #fbba2a;
    width: 60px; height: 28px;
    border-radius: 30px 150px 0px 150px / 50px 80px 0px 30px;
    border: 3px solid #000;
    top: 90px; left: 130px;
    z-index: 3051;
}
#angry li:nth-child(6):after {
    position: absolute;
    content: " ";
    background-color: #fff;
    width: 35px; height: 0px;
    top: 5px; left: 6px;
    z-index: 3001;
    border: 3px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    transform: rotate(13deg);
    -moz-transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    opacity: 0.5;
}

#angry li:nth-child(7):before {
    position: absolute;
    content: "";
   top: 88px; left: 128px;
   width: 0; height: 0;
   border-left: 46px solid #000;
   border-top: 26px solid transparent;
   border-bottom: 26px solid transparent;
   border-radius: 50px 0 0px 50px;
   z-index:3015;
}

#angry li:nth-child(7):after {
   position: absolute;
    content: "";
   top: 93px; left: 130px;
   width: 0; height: 0;
   border-left: 40px solid #fff;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-radius: 50px 0 0px 50px;
   z-index:3015;
}


#angry li:nth-child(8){
    position: absolute;
    content: "";
    top: 115px; left: 63px;
    width: 100px; height: 55px; 
    background: #f2e4d9; 
    -moz-border-radius: 100px / 55px; 
    -webkit-border-radius: 100px / 55px; 
    border-radius: 100px / 55px;
    z-index: -1;
}

/*** CSS Cloud ***/

#cloud {
    position: absolute;
    margin: 100px 50px;
    opacity: 0.8;
}
#cloud li:first-child {
    position: absolute;
    margin: 100px 50px;
}
#cloud li:first-child:after, #cloud li:first-child:before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
}
#cloud li:first-child:after {
    width: 40px; height: 40px;
    top: -5px; left: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-bottom: 2px solid #0e6bb2;
}
#cloud li:first-child:before {
    width: 100px; height: 100px;
    top: -60px; left: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
#cloud li:nth-child(2) {
    top: 50px;
    left: 120px;
    position: absolute;
    width: 120px; height: 120px;
    background: #fff;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-bottom: 2px solid #0e6bb2;
}
#cloud li:nth-child(2):after, #cloud li:nth-child(2):before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
}
#cloud li:nth-child(2):after {
    width: 100px; height: 100px;
    top: -50px; left: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-bottom: 2px solid #0e6bb2;
}

#cloud li:nth-child(2):before {
    width: 150px; height: 150px;
    top: -30px; left: 70px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}


#cloud li:nth-child(3) {
    top: 30px;
    left: 120px;
    position: absolute;
    width: 120px; height: 120px;
    background: #fff;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}
#cloud li:nth-child(3):after, #cloud li:nth-child(3):before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
}
#cloud li:nth-child(3):after {
    width: 60px; height: 60px;
    top: 0px; left: 240px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-bottom: 2px solid #0e6bb2;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
#cloud li:nth-child(3):before {
    width: 120px; height: 120px;
    top: 0px; left: 150px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-bottom: 2px solid #0e6bb2;
    z-index: -1;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;

}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: angry;
    font-weight: bold;
}
.gallery-container h2 {
    text-align: center;
    font-family: angry;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 0 5rem;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}
.gallery__item .lightbox img {
    width: 100%;
    height:100%;
    border-radius: 0;
    position: relative;
}

.gallery__item .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color:  #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.gallery__item .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.gallery__item .lightbox:hover:after,
.gallery__item .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

@font-face {
    font-family: 'angry';
    src: url(font/angry.ttf);
    font-style: normal;
    font-weight : 100;
    }